<!-- <button (click)="exportPlugins()">Export Plugins</button>
<button (click)="importPlugins()">Import Plugins</button>
<button (click)="importFromZip()">Import from Zip</button>
<button (click)="deletePlugins()">Delete All Plugins</button> -->
<div id="container" class="flex-container-row">
    <div class="flex-container-column" id="pluginList">
        <plugins-list [plugins]="plugins" *ngIf="plugins"
            (pluginSelected)="pluginSelected($event)"></plugins-list>
        <div class="buttons">
            <button (click)="exportPlugins()">Export plugins</button>
            <button (click)="importPlugins()">Import plugins</button>
            <button (click)="importFromZip()">Import from zip</button>
        </div>
    </div>
    <div class="flex-container-column" id="content" *ngIf="selectedPlugin">
        <div id="description">
            <h1>{{selectedPlugin.name}}</h1>
            <hr>
            <h4>Description</h4>
            <p>{{selectedPlugin.description}}</p>
        </div>
        <div class="buttons-row">
            <button (click)="deletePlugin()">Delete</button>
            <button (click)="editButton()">Edit</button>
            <button (click)="showInFolder()">{{getFileManagerText()}}</button>
        </div>
    </div>
</div>