@import "../../styles/bottom-panel";

#tests {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#empty p {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: larger;
    color: #a8a8a8;
}

table {
    background-color: white;
    margin: .75em;
    width: calc(100% - 1.5em);
    border-collapse: separate;
    border: thin solid grey;
    border-radius: 6px;
}

td:first-child, .icon-column {
    width: 1%;
}

.icon-column .material-icons {
    vertical-align: middle;
}

.checkbox {
    width: initial;
}

.header {
    td {
        border-bottom: thin solid Gainsboro;
    }
}

tr {
    height: 2em;
}

td {
    padding: .25em;
    vertical-align: middle;
}

input {
    width: 200px;
}

tr.selected {
    outline: blue 1px solid;
}