#wrapper {
    font-family: sans-serif;
}

#tests {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#empty p {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: larger;
    color: #a8a8a8;
}

table {
    width: 100%;
    color: white;
}
tr.bad {
    background: #aa0000;
}
.header {
    border-bottom: 1px solid #777;
}
td {
    padding: 10px;
}
input {
    width: 200px;
}

tr.selected {
    outline: blue 1px solid;
}