<div id="wrapper">
    <div *ngIf="_data.tests.length > 0" id="tests">
        <table>
            <tr class="header">
                <td><input type="checkbox" class="checkbox" (click)="selectAll()" [checked]="allSelected()"></td>
                <td>Input</td>
                <td>Expected Result</td>
                <td colspan="2">Actual Result</td>
            </tr>
            <tr *ngFor="let test of _data.tests">
                <td><input type="checkbox" class="checkbox" [checked]="_data.selected.has(test)" (click)="select(test)"></td>
                <td><sinap-type [readonly]="false" [focus]="true" [value]="test.input" (injected)="test.injector = $event"></sinap-type></td>
                <td><sinap-type [value]="test.expected" [readonly]="false"></sinap-type></td>
                <td><sinap-type *ngIf="test.output" [value]="test.output"></sinap-type>
                    <span *ngIf="!test.output">Has not ran.</span></td>
                <td class="icon-column"><i class="material-icons" [style.color]="getTestIcon(test)[1]">{{getTestIcon(test)[0]}}</i></td>
            </tr>
        </table>
    </div>

    <div *ngIf="_data.tests.length == 0" id="empty">
        <p>Click the plus to create a new unit test.</p>
    </div>
</div>