@import "constants";

#wrapper {
    width: 100%;
    height: 100%;
    background-color: $PANEL_BACKGROUND_COLOR;
}

#toolbar {
    background-color: #E1E1E1;
    height: $TOOLBAR_HEIGHT;
    display: flex;
    align-items: center;
    margin-left: -$TOOLBAR_WIDTH;
    box-sizing: border-box;
    border-top: thin solid lightgrey;
}

#toolbar h2 {
    flex: none;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 600;
    margin-left: $TOOLBAR_WIDTH;
    color: #333;
    padding: .5em;
    text-shadow: 1px 1px 0px whitesmoke;
}

.toolbar-button {
    flex: none;
    height: .75em;
    width: .75em;
    width: 1em;
    padding: .25em;
    cursor: pointer;
    background: grey;
    border-radius: 4px;
    margin: 1px;
}

.disabled {
    cursor: not-allowed;
}

.toggled {
    background: lightgray;
}

.toolbar-spacer {
    flex: none;
    width: .7em;
}