@import "../../styles/side-panel";

#open-button {
    width: calc(100% - .5em);
    margin: .25em;
    font-size: small;
    margin-top: .5em;
    text-align: center;
    background-color: white;
    border: thin solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: .45em;

    cursor: pointer;
}

#open-button:hover {
    background-color: whitesmoke;
}

#open-button:active {
    background-color: gainsboro;
}