<div *ngIf="isCollapsed" id="collapsed-container" [class.vertical]="isVertical" [class.horizontal]="!isVertical">
    <div id="icons">
        <div class="icon collapsed-chevron" (click)="toggleCollapse()">
            <i class="material-icons">keyboard_arrow_{{isVertical ? "up" : "right"}}</i>
        </div>
        <div class="icon" *ngFor="let panel of panels" (click)="updateContent(panel)">
            <i class="material-icons panel-icon">{{panel.icon}}</i>
        </div>
    </div>
</div>

<div id="container" [hidden]="isCollapsed" #container mwlResizable [resizeEdges]="isVertical ? {top: true} : {right: true}"
    [class.vertical]="isVertical" [class.horizontal]="!isVertical" (resizing)="resizing($event)">
    <div id="header">
        <div id="titlebar">
            <h2 id="title">{{title}}</h2>
            <div *ngIf="titlebarItems" class="titlebar-items">
                <div *ngFor="let item of titlebarItems">
                    <div *ngIf="item.kind === 'spacer'">
                        <span class="titlebar-spacer" [style.width]="item.width ? (item.width + 'px') : '.7em'"></span>
                    </div>
                    <div *ngIf="item.kind === 'button'">
                        <span class="titlebar-button " title="{{item.title}}" [class.disabled]="item.isDisabled"
                            (click)="!item.isDisabled && item.click(item)">
                                <i class="material-icons toolbar-icon">{{item.icon}}</i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="icons">
            <div class="icon" *ngFor="let panel of panels" [class.active]="panel.text === title" (click)="updateContent(panel)">
                <i class="material-icons panel-icon">{{panel.icon}}</i>
            </div>
        </div>
        <div class="icon" (click)="toggleCollapse()">
            <i class="material-icons">keyboard_arrow_{{isVertical ? "down" : "left"}}</i>
        </div>
    </div>
    <div id="content">
        <ng-template id="dynamic-content" dynamic-content></ng-template>
    </div>
</div>