@import "../../styles/constants";

#collapsed-container.horizontal {

}

#collapsed-container.vertical {

}

#collapsed-container {
    background: whitesmoke;
    border: thin solid lightgray;
    border-radius: 8px;
    padding-left: .25em;

    .collapsed-chevron {
        padding-right: 0px;
    }
}

#container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

#titlebar {
    display: flex;
    align-items: center;
    height: $TOOLBAR_HEIGHT;
}

#header {
    background-color: #f1f1f1;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: solid thin lightgrey;
}

#title {
    font-size: 1.35em;
    font-weight: 600;
    color: #333;
    padding-left: .5em;
    box-sizing: border-box;
    text-shadow: 1px 1px 0px whitesmoke;
}

#icons {
    flex: auto;
    flex-direction: row-reverse;
    width: 100%;
    display: flex;
    align-items: center;
}

#content {
    flex: 1 1 auto;
    min-height: 0;
    height: 100%;
}

.vertical {
    border-top: thin solid lightgrey;
}

.horizontal {
    border-right: thin solid lightgray;
}

.icon {
    flex: none;
    width: 1.5em;
    padding-right: .5em;
    filter: opacity(40%) drop-shadow(1px 1px 0px whitesmoke);
}

.icon:hover, .icon.active {
    filter: opacity(80%) drop-shadow(1px 1px 0px whitesmoke);
}

.icon.active .material-icons {
    transform: scale(1.1);
}

.icon:hover {
    cursor: pointer;
}

.titlebar-items {
    flex: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.titlebar-button {
    flex: none;
    display: block;
    min-width: 1.25em;
    text-align: center;
    box-sizing: border-box;
    padding: .15em;
    cursor: pointer;
    background: grey;
    border-radius: 4px;
    margin: 0 .15em;
}

.titlebar-button.disabled {
    cursor: not-allowed;
    background: lightgray;
}

.toolbar-icon {
    font-size: 18px;
    vertical-align: middle;
    color: white;
}

.panel-icon {
    font-size: 26px;
    vertical-align: middle;
    color: #333;
}

.titlebar-spacer {
    flex: none;
    width: .7em;
    display: block;
}

.material-icons {
    vertical-align: middle;
}