[submodule "plugins/nfa"]
	path = plugins/nfa
	url = https://github.com/2graphic/nfa-plugin.git
[submodule "plugins/turing-machine"]
	path = plugins/turing-machine
	url = https://github.com/2graphic/turing-machine-plugin.git
[submodule "plugins/circuits"]
	path = plugins/circuits
	url = https://github.com/2graphic/circuits-plugin.git
[submodule "plugins/dfa"]
	path = plugins/dfa
	url = https://github.com/2graphic/dfa-plugin.git
[submodule "plugins/pda"]
	path = plugins/pda
	url = https://github.com/2graphic/pda-plugin.git
[submodule "plugins/bfs"]
	path = plugins/bfs
	url = https://github.com/Sheyne/sinap-bfs-plugin.git
[submodule "plugins/dfa-python"]
	path = plugins/dfa-python
	url = https://github.com/2graphic/dfa-python-plugin.git
[submodule "plugins/keras"]
	path = plugins/keras
	url = https://github.com/2graphic/keras-plugin.git
