<div *ngIf="!readonly">
    <table>
        <tr>
            <td>
                <div class="inner first">
                    <table>
                        <tr>
                            <td class="label">X</td>
                            <td>
                                <sinap-type [graph]="graph" [value]="point.x" [readonly]="readonly"></sinap-type>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="inner last">
                    <table>
                        <tr>
                            <td class="label">Y</td>
                            <td>
                                <sinap-type [graph]="graph" [value]="point.y" [readonly]="readonly"></sinap-type>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<span *ngIf="readonly">(<sinap-type [graph]="graph" [value]="point.x" [readonly]="readonly"></sinap-type>, <sinap-type [graph]="graph" [value]="point.y" [readonly]="readonly"></sinap-type>)</span>