@import '../../../styles/constants';

.label {
    vertical-align: middle;
    text-align: center;
    
    border-right: thin solid grey;
    padding: 0 .3em;
    background-color: gainsboro;
}

div /deep/ input {
    border: none;
}

.inner {
    border: thin solid black;
    border-radius: 4px;
    overflow: hidden;
}

.first {
    margin-right: .25em;
}

.last {
    margin-left: .25em;
}