div {
	position: relative;
	margin: 0;
	padding: 0;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	outline: none;
	height: 100%;
	width: 100%;
}

#gridLayer {
	z-index: 0;
}

#graphLayer {
	z-index: 1;
}
