<div id="wrapper">
    <div id="toolbar">
        <h2>Input</h2>
    </div>

    <div id="repl">
        <div id="repl-output">
            <div class="repl-item" *ngFor="let comm of results; let i = index;"
            (click)="commandText = comm.input; input.focus()">
                <div class="input">
                <!-- <span class="repl-line-number">[{{results.length - i}}]:</span> -->
                <div class="repl-left-padding">&gt;</div>
                {{comm.input}}
                </div>
                <div class="repl-left-padding">&lt;</div>
                {{comm.result}}
            </div>
        </div>
        <div id="repl-cl">
            <form (ngSubmit)="onSubmit(commandText); commandText = ''">
                <input [(ngModel)]="commandText" name="commandText" type="text" #input />
            </form>
        </div>
    </div>
</div>