<div id="wrapper">
    <div id="toolbar">
        <h2>Input</h2>
    </div>

    <div class="flex-container-row">
        <div id="repl">
            <div id="repl-output">
                <div class="repl-item clickable" *ngFor="let command of results" (click)="selected = command" [class.selected]="selected == command">
                    <table *ngIf="selected">
                        <tr>
                            <td>
                                <div class="input">
                                    <span class="chevron">&gt;</span>
                                    {{command.input}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="last">
                                <div class="result">
                                    <span class="chevron">&lt;</span>
                                    <span [class.error]="command.error">{{command.output.result}}</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="repl-cl">
                <form (ngSubmit)="onSubmit(commandText); commandText = ''">
                    <input [(ngModel)]="commandText" name="commandText" type="text" #input />
                </form>
            </div>
        </div>
        <div id="log">
            <table *ngIf="selected">
                <tr>
                    <td>
                        <div class="input">
                            <span class="chevron">&gt;</span>
                            {{selected.input}}
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let state of selected.output.states; let i = index;">
                    <td class="clickable" (click)="selectState(state)">
                        {{state.message}}
                        <div *ngIf="selectedState == state">
                            <br>
                            active: {{state.active.label}}
                            <br>
                            inputLeft: {{state.inputLeft}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="last">
                        <div class="result">
                            <span class="chevron">&lt;</span>
                            <span [class.error]="selected.error">{{selected.output.result}}</span>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="selected.error">
                    <td>
                        {{selected.error.stack}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>