<div id="wrapper">
    <div id="items" *ngIf="info !== undefined">
        <p class="title">
            {{info.title}}
        </p>

        <span class="spacer"></span>

        <p *ngFor="let item of info.items">
            {{item}}
        </p>

        <span class="expand"></span>

        <!-- Place toolbar icons here -->
        <!--p>...</p-->

        <!-- Zoom slider -->
        <span class="spacer"></span>
        <p>
            <button class="title" (click)="onZoomOut()">-</button>
            <input class="slider" type="range" min="0.125" max="8" step="0.05" defaultValue="1" [value]="zoom" (change)="onZoomChange($event)" />
            <button class="title" (click)="onZoomIn()">+</button>
        </p>
        <p>
            <input class="zoomText" type="text" [value]="(100 * zoom).toFixed(3) + ' %'" onfocus="this.select()" (blur)="updateZoom($event)" (keypress)="enterZoom($event)" />
        </p>
    </div>
</div>