<div id="wrapper">
    <div id="items">
        <p class="title">
            {{title}}
        </p>

        <span class="spacer"></span>

        <p *ngFor="let item of items">
            {{item}}
        </p>

        <span class="expand"></span>

        <!-- Place toolbar icons here -->
        <p>...</p>

        <!-- Zoom slider -->
        <span class="spacer"></span>
        <p>
            <button class="title">-</button>
            <input class="slider" type="range" min="0.125" max="8" step="0.1" defaultValue="1" />
            <button class="title">+</button>
        </p>
        <p>
            Zoom
        </p>
    </div>
</div>