<div id="wrapper">
    <div id="items" *ngIf="info !== undefined">
        <span class="title">
            {{info.title}}
        </span>

        <span class="spacer"></span>

        <p *ngFor="let item of info.items">
            {{item}}
        </p>

        <span class="expand"></span>

        <!-- Place toolbar icons here -->
        <!--p>...</p-->

        <!-- Zoom slider -->
        <span class="spacer"></span>
        <span>
            <button (click)="onZoomOut()">-</button>
            <input class="slider" type="range" min="0.25" max="4" step="0.05" defaultValue="1" [value]="zoom" (input)="onZoomChange($event)" />
            <button (click)="onZoomIn()">+</button>
        </span>
        <span id="zoomTextContainer">
            <input class="zoomText" type="text" [value]="zoomText" onfocus="this.select()" (blur)="updateZoom($event)" (keypress)="enterZoom($event)" />
        </span>
    </div>
</div>