.node {
    cursor: pointer;
    border-radius: 999px;
    border: thin solid;
    padding: .15em .4em;;
    color: white;
    display: inline-block;
    font-weight: bold;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, -1px 1px 0px black, 1px -1px 0px black;
}

select {
    width: 100%;
}


table {
    background-color: white;
    border-collapse: separate;
    border: thin solid grey;
    border-radius: 4px;

    width: 100%;
    height: 100%;

    td:first-child {
    width: 100%;
    }

    td:last-child {
        white-space: nowrap;
        padding-right: .5em; 
    }

    td {
        padding: .15em;
    }
}

img {
    height: 1.5em;
    vertical-align: middle;
    cursor: pointer;
}

.square {
    border-radius: 0;
}