<table *ngIf="options.length > 0">
    <tr>
        <td><select [ngModel]="value" (ngModelChange)="selectedOption($event)" [disabled]="disabled">
        <option *ngFor="let option of options" [ngValue]="option[1]">{{option[0]}}</option>
    </select></td>
        <td>
            <span *ngIf="!image || image === ''" [style.border-color]="borderColor" [class.square]="square" [style.background-color]="color" (click)="selectNode($event)">{{label}}</span>
            <img *ngIf="image && image !== ''" [src]="image" (click)="selectNode($event)">
        </td>
    </tr>
</table>
<span *ngIf="(options.length === 0) && (!image || image === '')" [style.border-color]="borderColor" [class.square]="square" [style.background-color]="color" (click)="selectNode($event)">{{label}}</span>
<img *ngIf="(options.length === 0) && !(!image || image === '')" [src]="image" (click)="selectNode($event)">