<div id="wrapper">
    <div *ngIf="isEmpty()" id="empty">
        <p>No Properties</p>
    </div>
    <div *ngIf="!isEmpty()">
        <table *ngIf="element.pluginProperties.length > 0">
            <tr>
                <th class="expand-chevron-before">Plugin - {{element.kind}}</th>
                <th class="expand-chevron-down clickable"><span class="chevron">›</span></th>
            </tr>
            <tr class="expanded">
                <td colspan="2">
                    <table class="expanded-table">
                        <tr *ngFor="let property of element.pluginProperties">
                            <td>{{property.name}}</td>
                            <td>
                                <sinap-type [value]="property.value" [readonly]="false"></sinap-type>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table *ngIf="element.drawableProperties.length > 0">
            <tr>
                <th class="expand-chevron-before">Visual</th>
                <th class="expand-chevron-down clickable"><span class="chevron">›</span></th>
            </tr>
            <tr class="expanded">
                <td colspan="2">
                    <table class="expanded-table">
                        <tr *ngFor="let property of element.drawableProperties">
                            <td>{{property.name}}</td>
                            <td>
                                <sinap-type [value]="property.value" [readonly]="false"></sinap-type>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>