<div id="wrapper">
    <h2>Properties</h2>
    <div *ngIf="isEmpty" id="empty">
        <p>empty</p>
    </div>

    <div *ngIf="!isEmpty">
        <table class="group-table">
            <template [ngIf]="fields">
                <tr><th colspan="2">General</th></tr>
                <tr *ngFor="let pair of fields">
                    <td class="label">{{pair[0]}}</td>
                    <td [ngSwitch]="pair[1].name">
                        <div *ngSwitchCase="'string'">
                            <input [ngModel]="element[pair[0]]" (ngModelChange)="element[pair[0]] = $event" type="text" class="text-input"/>
                        </div>
                        <div *ngSwitchDefault> 
                            <!-- default -->
                            N/A
                        </div>
                    </td>
                </tr>
            </template>
        </table>
    </div>
</div>