<div id="wrapper">
    <div *ngIf="element === undefined" id="empty">
        <p>empty</p>
    </div>
    <div *ngIf="element !== undefined">
        <table>
            <tr>
                <th colspan="2">Plugin Properties - {{element.kind}}</th>
            </tr>
            <tr *ngFor="let property of element.pluginProperties">
                <td>{{property.name}}</td>
                <td>
                    <sinap-type [value]="property.value" [readonly]="false"></sinap-type>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th colspan="2">Drawable Properties</th>
            </tr>
            <tr *ngFor="let property of element.drawableProperties">
                <td>{{property.name}}</td>
                <td>
                    <sinap-type [value]="property.value" [readonly]="false"></sinap-type>
                </td>
            </tr>
        </table>
    </div>
</div>