<div id="window">

  <div id="left-panel-group">
    <dynamic-panel #dynamicSidePanel
                   [panels]="sidePanels"
                   [maximumWidth]="maxSidePanelWidth"
                   [minimumWidth]="minSidePanelWidth"></dynamic-panel>
  </div>

  <div id="right-panel-group">

    <!-- TODO: use *ngIf instead of [hidden] -->
    <div id="document-panel-group"
         class="dock-fill"
         [hidden]="(tabs.size === 0)">

      <div>
        <sinap-tab-bar id="tab-bar"></sinap-tab-bar>
      </div>

      <div #graphEditorContainer
           id="graph-editor-container"
           class="dock-fill">
        <sinap-graph-editor id="graph-editor"
                            [graph]="_context ? _context.graph.drawable : null"></sinap-graph-editor>
      </div>

      <div>
        <sinap-status-bar id="status-bar"
                          [zoom]="_context ? _context.graph.drawable.scale : 1"
                          (zoomChange)="updateZoom($event)"></sinap-status-bar>
      </div>
      
    </div>

    <div id="empty-background"
         class="dock-fill"
         [hidden]="(tabs.size > 0)"
         (click)="promptNewFile()">
      <a>Click to create a new graph</a>
    </div>

    <div id="bottom-panel-group" [hidden]="dynamicBottomPanel.isEmpty()">
      <dynamic-panel #dynamicBottomPanel
                     [panels]="bottomPanels"
                     [isVertical]="true"
                     [maximumHeight]="maxBottomPanelHeight"
                     [minimumHeight]="minBottomPanelHeight"></dynamic-panel>
    </div>

  </div>

</div>