@import '../../styles/constants';

div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#window {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: $PANEL_BACKGROUND_COLOR;
}

#left-panel-group {
  flex: 0 0 auto;
}

#right-panel-group {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

#bottom-panel-group {
  flex: 0 0 auto;
}

#document-panel-group {
  display: flex;
  flex-flow: column;
}

#status-bar {
  flex: 0 0 auto;
  height: 1.25em;
}

#tab-bar {
  flex: 0 0 auto;
  height: $TOOLBAR_HEIGHT;
}

#empty-background {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: #909090;
    font-size: larger;
    font-weight: bold;
  }
}

#graph-editor-container {
  background-color: red;
}

.dock-fill {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}


// /********************************************************/
