@import '../../styles/constants';

div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#window {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: $PANEL_BACKGROUND_COLOR;
}

#left-panel-group {
  flex: 0 0 auto;
}

#left-panel-group.collapsed {
  flex:none;
  z-index: 999;
  position: absolute;
  left: .4em;
  top: calc(#{$TOOLBAR_HEIGHT} + .4em)
}

#bottom-panel-group.collapsed {
  flex:none;
  z-index: 999;
  position: absolute;
  right: .4em;
  bottom: calc(20px + .4em)
}

#right-panel-group {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

#bottom-panel-group {
  flex: 0 0 auto;
}

#document-panel-group {
  display: flex;
  flex-flow: column;
}

#status-bar {
  flex: 0 0 auto;
  height: 1.25em;
}

#tab-bar {
  flex: 0 0 auto;
  height: $TOOLBAR_HEIGHT;
}

#empty-background {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: #909090;
    font-size: larger;
    font-weight: bold;
  }
}

#graph-editor-container {
  background-color: red;
  position: relative;

  #instructions {
    position: absolute;
    z-index: 999;
    bottom: .4em;
    right: .4em;

    padding: .2em;
    font-size: small;

    background: whitesmoke;
    border: thin solid lightgray;
    border-radius: 8px;

    opacity: .75;
    user-select: none;
    cursor: default;

    em {
      font-weight: bold;
    }
  }

  #instructions:hover {
    opacity: .25;
  }
}

.dock-fill {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}


// /********************************************************/
