@import '../../styles/constants';

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}


/* Flex box determines the overall structure of the app. */

.panel-bar-vertical {
  flex: none;
  width: $TOOLBAR_WIDTH;
}

.panel-bar-horizontal {
  flex: none;
  height: $TOOLBAR_HEIGHT;
}

#bottom-panels {
  flex: none;
  height: 15em;
}

#left-panels-group {
  flex: none;
  width: 18em;
  height: 100%;
  box-sizing: border-box;
  border-right: thin solid lightgrey;
}

#status-bar {
  flex: none;
  height: 1.25em;
}

#tab-bar {
  flex: none;
  height: $TOOLBAR_HEIGHT;
}

#graph-editor-container {
  flex: none;
  width: 100%;
  height: calc(100% - 1.25em - #{$TOOLBAR_HEIGHT});
}

#content, #left-panels, #editor-panel, #bottom-panel {
  flex: 1;
}

.full-size {
  width: 100%;
  height: 100%;
}


/********************************************************/

#empty-background {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: #909090;
    font-size: larger;
    font-weight: bold;
  }
}