<div class="flex-container-row full-size">
  <div id="left-panels-group" #leftPanelsGroup class="flex-container-column"
      [style.width.px]="leftPanelWidth"
      mwlResizable [resizeEdges]="{right: true}" (resizing)="resizing(leftPanelsGroup, $event)">
    <sinap-side-bar #leftPanelBar class="panel-bar-horizontal" [vertical]="false" [title]="true" [icons]="
          [{
            path: '${require('../../images/properties.svg')}',
            name: 'Properties'
          },
          {
            path: '${require('../../images/tools.svg')}',
            name: 'Tools'
          },
          {
            path: '${require('../../images/files.svg')}',
            name: 'Files'
          }]">
      </sinap-side-bar>
      <div id="left-panels">
        <sinap-properties-panel [hidden]="!(leftPanelBar.active == 'Properties')" [selectedElements]="context ? context.graph.selectedElements : null">
        </sinap-properties-panel>
        <sinap-tools-panel [hidden]="!(leftPanelBar.active == 'Tools')">
        </sinap-tools-panel>
        <sinap-files-panel [hidden]="!(leftPanelBar.active == 'Files')">
        </sinap-files-panel>
      </div>
  </div>


  <div id="content" class="flex-container-column">
    <div id="editor-panel" #editorPanel class="flex-container-column">
      <div [hidden]="(this.tabs.size == 0)" class="full-size flex-container-column">
        <sinap-tab-bar id="tab-bar"></sinap-tab-bar>
        <div id="graph-editor-container">
          <sinap-graph-editor [graph]="context ? context.graph.drawable : null" id="graph-editor"></sinap-graph-editor>
        </div>
        <sinap-status-bar id="status-bar" [title]="package" [items]="barMessages"></sinap-status-bar>
      </div>
      <div [hidden]="(this.tabs.size > 0)" class="full-size">
        <div (click)="promptNewFile()" id="empty-background" class="full-size">
          <a>Click to create a new graph</a>
        </div>
      </div>
    </div>

    <div id="bottom-panels" #bottomPanels class="flex-container-row"
        [style.height.px]="bottomPanelHeight"
        mwlResizable [resizeEdges]="{top: true}" (resizing)="resizing(bottomPanels, $event)">
      <sinap-side-bar #bottomSideBar class="panel-bar-vertical" [vertical]="true" [icons]="
          [{
            path: '${require('../../images/input.svg')}',
            name: 'Input'
          },
          {
            path: '${require('../../images/test.svg')}',
            name: 'Test'
          }]">
        </sinap-side-bar>
        <div id="bottom-panel">
          <sinap-input-panel [hidden]="!(bottomSideBar.active == 'Input')"></sinap-input-panel>
          <sinap-test-panel [hidden]="!(bottomSideBar.active == 'Test')"></sinap-test-panel>
        </div>
    </div>
  </div>
</div>