@import "../../styles/side-panel";

.text {
    background-color: #666;
    font-size: normal;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
    padding: .25em;
}

.toggle {
    text-align: center;
    vertical-align: middle;
    font-size: .45em;
    width: 1.25em;
    display: inline-block;
}

.label {
    display: inline-block;
}

li {
    padding: .25em .15em;
    padding-left: 1.75em;
    color: #EEE;
    font-family: sans-serif;
    font-weight: normal;
    font-size: small;
}

li:hover, .active {
    background-color: #5c5c5c;
}