<div id="wrapper">
    <div id="toolbar">
        <h2>Input</h2>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-spacer"></span>
        <img src="${require('../../images/play.svg')}" (click)="step()" class="toolbar-button" title="Step" />
        <img src="${require('../../images/play-all.svg')}" (click)="stepToCompletion()" class="toolbar-button" title="Step to Completion" />
    </div>

    <div *ngIf="inputForPlugin" class="flex-container-row">
        <div id="left-panel">
            <div id="left-panel-output">
                <div class="program-result clickable" *ngFor="let result of results" (click)="selectResult(result)" [class.selected]="selected == result">
                    <table *ngIf="selected">
                        <tr>
                            <td>
                                <div class="input">
                                    <span class="chevron">&gt;</span>
                                    <sinap-type [value]="result.input"></sinap-type>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="last">
                                <div class="result">
                                    <span class="chevron">&lt;</span>
                                    <span>
                                        <span [class.error]="isErrorType(result.output.result.type)">
                                            <sinap-type [value]="result.output.result"></sinap-type>
                                        </span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="left-panel-input">
                <form (ngSubmit)="onSubmit(inputForPlugin)">
                    <sinap-type [value]="inputForPlugin" [readonly]="false" [focus]="true" [disabled]="!this.program"></sinap-type>
                </form>
            </div>
        </div>



        <div id="log" #log>
            <table *ngIf="selected">
                <tr>
                    <td>
                        <div class="input">
                            <span class="chevron">&gt;</span>
                            <sinap-type [value]="selected.input"></sinap-type>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let state of selected.getStates()">
                    <td class="clickable" (click)="selectState(state)">
                        <div *ngIf="(isObjectType(state.type) && state.value.message)">
                            <div>
                                <sinap-type [value]="getMessage(state)"></sinap-type>
                            </div>
                            <div *ngIf="selectedState == state">
                                <sinap-type [value]="stripMessage(state)"></sinap-type>
                            </div>
                        </div>

                        <div *ngIf="!(isObjectType(state.type) && state.value.message)">
                            <sinap-type [value]="state"></sinap-type>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="selected.steps == selected.output.states.length">
                    <td class="last">
                        <div class="result">
                            <span class="chevron">&lt;</span>
                            <span [class.error]="isErrorType(selected.output.result.type)">
                                <sinap-type [value]="selected.output.result"></sinap-type>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>