<div id="wrapper">
    <div id="toolbar">
        <h2>Input</h2>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-spacer"></span>
        <img src="${require('../../images/play.svg')}" (click)="step()" class="toolbar-button" title="Step" />
        <img src="${require('../../images/play-finish.svg')}" (click)="stepFinish()" class="toolbar-button" title="Finish" />
        <img src="${require('../../images/play-all.svg')}" (click)="stepToCompletion()" class="toolbar-button" title="Step to Completion" />
    </div>

    <div *ngIf="inputForPlugin" class="flex-container-row">
        <div id="left-panel">
            <div id="left-panel-output">
                <div class="program-result clickable" *ngFor="let result of results" (click)="selectResult(result)" [class.selected]="selected == result">
                    <table *ngIf="selected">
                        <tr>
                            <td>
                                <div class="input">
                                    <span class="chevron">&gt;</span>
                                    <sinap-type [value]="result.input"></sinap-type>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="last">
                                <div class="result">
                                    <span class="chevron">&lt;</span>
                                    <span>
                                        <span [class.error]="isErrorType(result.output.result.type)">
                                            <sinap-type [value]="result.output.result"></sinap-type>
                                        </span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="left-panel-input" (keyup.enter)="onSubmit(inputForPlugin)">
                <div id="input-value">
                    <sinap-type [readonly]="false" [focus]="true" [disabled]="!this.program" [value]="inputForPlugin"></sinap-type>                    
                </div>
                <div id="input-button">
                    <button (click)="onSubmit(inputForPlugin)">
                        <div [inlineSVG]="'${require('../../images/play.svg')}'"></div>
                    </button>
                </div>
            </div>
        </div>



        <div id="log" #log>
            <table *ngIf="selected">
                <tr>
                    <td colspan="2">
                        <div class="input">
                            <span class="chevron">&gt;</span>
                            <sinap-type [value]="selected.input"></sinap-type>
                        </div>
                    </td>
                </tr>

                <tbody *ngFor="let state of selected.getStates()" class="clickable" (click)="selectState(state)">
                        <tr *ngIf="state.message !== undefined">
                            <td [class.expand-chevron-before]="selectedState === state">
                                <sinap-type [value]="state.message"></sinap-type>
                            </td>
                            <td [class.expand-chevron-down]="selectedState === state" [class.expand-chevron-right]="selectedState !== state">
                                <span class="chevron">›</span>
                            </td>
                        </tr>

                        <tr *ngIf="state.message !== undefined && selectedState == state" class="expanded">
                            <td colspan="2">
                                <sinap-type [value]="state.state"></sinap-type>
                            </td>
                        </tr>

                        <tr *ngIf="state.message === undefined">
                            <td colspan="2">
                                <sinap-type [value]="state.state"></sinap-type>
                            </td>
                        </tr>
                </tbody>

                <tr *ngIf="selected.steps == selected.output.states.length">
                    <td class="last" colspan="2">
                        <div class="result">
                            <span class="chevron">&lt;</span>
                            <span [class.error]="isErrorType(selected.output.result.type)">
                                <sinap-type [value]="selected.output.result"></sinap-type>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>