@import "../../styles/bottom-panel";

#wrapper {
    display: flex;
}

#content {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
}

#output {
    flex: 1 1 auto;
    display: flex;
    font-size: 1em;
    overflow-y: auto;
    flex-direction: column-reverse;
}

#input {
    flex: none;
    display: flex;
    flex-direction: row;
    padding-top: .25em;
    border-top: thin dotted lightgrey;
}

#input-value {
    flex: 1;
}

#input-button {
    flex: 0 0 auto;
    min-width: 2em;

    .material-icons {
        vertical-align: middle;
        font-size: 18px;
        color: #333;
    }

    button {
        width: calc(100% - .5em);
        height: 100%;
        padding: 0;
        margin-left: .5em;
        border-radius: 4px;
        background-color: white;
        border: thin solid black;
    }

    button:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    button:focus {
        outline: none;
    }
}


.left {
    flex: none;

    box-sizing: border-box;
    border-right: thin solid lightgrey;
    padding: .25em;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.right {
    flex: 1;
    box-sizing: border-box;
    padding: .25em;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-flow: column;
}

.program-result {
    filter: opacity(60%);
    margin-bottom: .25em;
    cursor: pointer;
}

.error {
    color: darkred;
}

.clickable {
   cursor: pointer;
}

.program-result.selected {
    filter: opacity(100%);
}

.expanded {
    background-color: aliceblue;
    box-shadow: inset 0 1px 7px -4px black;

    td {
        padding: .25em;
        padding-top: .5em;
    }
}

.expand-chevron-before {
    border-right: thin solid lightgrey;
}

.expand-chevron-right {
    width: 1px;
}

.expand-chevron-down {
    width: 1px;
    background-color: aliceblue;
    transform: scaleY(1.2) translateY(2px);
    border: none;

    span {
        transform: rotate(90deg);
    }
}

.chevron {
    display: inline-block;
    width: 1em;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
    color: grey;
}

table {
    background-color: white;
    border-collapse: separate;
    border: thin solid grey;
    border-radius: 4px;

    width: 100%;
}

tr {
    text-align: left;
}

td {
    padding: .15em;
    border-bottom: thin solid lightgrey;
}

td.last {
    border: none;
}

::-webkit-scrollbar {
    display: none;
}
