<div id="wrapper">

    <div id="content" (keyup.enter)="onSubmit()">
        <div class="left" mwlResizable [style.width]="_data.leftPanelWidth+'px'" [resizeEdges]="{right: true}" (resizing)="resizing($event)">
            <div id="output">
                <div class="program-result clickable" *ngFor="let result of _data.results" (click)="selectResult(result)" [class.selected]="_data.selected == result">
                    <table *ngIf="_data.selected">
                        <tr>
                            <td>
                                <div class="input">
                                    <span class="chevron">&gt;</span>
                                    <sinap-type [graph]="_data.programInfo.graph" [value]="result.input"></sinap-type>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="last">
                                <div class="result">
                                    <span class="chevron">&lt;</span>
                                    <span>
                                        <span [class.error]="isErrorType(result.output.result.type)">
                                            <sinap-type [graph]="_data.programInfo.graph" [value]="result.output.result"></sinap-type>
                                        </span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="input">
                <div id="input-value">
                    <sinap-type *ngIf="_data.inputForPlugin" [graph]="_data.programInfo.graph" #inputComponent [readonly]="false" [focus]="true" [disabled]="!_data.programInfo" [value]="_data.inputForPlugin"></sinap-type>
                    <span *ngIf="!_data.inputForPlugin" class="empty-input">No Input</span>                   
                </div>
                <div id="input-button">
                    <button (click)="onSubmit()" [disabled]="!_data.inputForPlugin" [class.disabled]="!_data.inputForPlugin">
                        <i class="material-icons">play_arrow</i>
                    </button>
                </div>
            </div>
        </div>

        <div class="right" #log>
            <div id="empty" *ngIf="!_data.selected">
                <i class="material-icons">bug_report</i>
            </div>
            <table *ngIf="_data.selected">
                <tr>
                    <td colspan="2">
                        <div class="input">
                            <span class="chevron">&gt;</span>
                            <sinap-type [graph]="_data.programInfo.graph" [value]="_data.selected.input"></sinap-type>
                        </div>
                    </td>
                </tr>

                <tbody *ngFor="let state of _data.selected.getStates()" (click)="selectState(state)">
                        <tr *ngIf="state.message !== undefined">
                            <td [class.expand-chevron-before]="_data.selectedState === state">
                                <sinap-type [graph]="_data.programInfo.graph" [value]="state.message"></sinap-type>
                            </td>
                            <td [class.clickable]="_data.selectedState !== state" [class.expand-chevron-down]="_data.selectedState === state" [class.expand-chevron-right]="_data.selectedState !== state">
                                <span class="chevron">›</span>
                            </td>
                        </tr>

                        <tr *ngIf="state.message !== undefined && _data.selectedState == state" class="expanded">
                            <td colspan="2">
                                <sinap-type [graph]="_data.programInfo.graph" [value]="state.state"></sinap-type>
                            </td>
                        </tr>

                        <tr *ngIf="state.message === undefined">
                            <td colspan="2">
                                <sinap-type [graph]="_data.programInfo.graph" [value]="state.state"></sinap-type>
                            </td>
                        </tr>
                </tbody>

                <tr *ngIf="_data.selected.steps == _data.selected.output.states.length">
                    <td class="last" colspan="2">
                        <div class="result">
                            <span class="chevron">&lt;</span>
                            <span [class.error]="isErrorType(_data.selected.output.result.type)">
                                <sinap-type [graph]="_data.programInfo.graph" [value]="_data.selected.output.result"></sinap-type>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>