input {
    box-sizing: border-box;
    border: thin solid black;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: 0px;
}

input:disabled {
    background-color: whitesmoke;
    cursor: not-allowed;
}