<div id="wrapper">
    <h2>Properties</h2>
    <p *ngIf="!selectedEntity">
        No selected entity.
    </p>
    <table *ngIf="selectedEntity">
        <tr *ngFor="let pair of selectedEntity.pluginProperties">
            <td>{{pair[0]}}</td>
            <td><input [(ngModel)]="selectedEntity.propertyValues[pair[0]]"
            class="string-property" type="text" /></td>
        </tr>
        <tr *ngFor="let pair of selectedEntity.displayProperties">
            <td>{{pair[0]}}</td>
            <td><input [(ngModel)]="selectedEntity.propertyValues[pair[0]]"
            class="string-property" type="text" /></td>
        </tr>
    </table>
</div>