<div>
  <ul>
    <li>
      <a title="Selection Mode" role="button">
        <svg height="19" width="12">
          <polygon points="0,0 0,16 1,16 4,13 7,18 8,18 9,17 7,12 11,12 11,11" stroke="none" />
        </svg>
      </a>
    </li>
    <li>
      <a title="Pan Mode" role="button">
        <svg height="20" width="20">
          <line x1="4" y1="10" x2="16" y2="10" stroke-width="3" />
          <line x1="10" y1="4" x2="10" y2="16" stroke-width="3" />
          <polygon points="2,10 3,9.5 3,10.5" stroke-width="3" stroke-linecap="round" />
          <polygon points="18,10 17,9.5 17,10.5" stroke-width="3" stroke-linecap="round" />
          <polygon points="10,2 9.5,3 10.5,3" stroke-width="3" stroke-linecap="round" />
          <polygon points="10,18 9.5,17 10.5,17" stroke-width="3" stroke-linecap="round" />
        </svg>
      </a>
    </li>
    <li>
      <a title="Zoom" role="button">
        <svg height="24" width="24">
          <circle cx="8" cy="8" r="7" stroke-width="2" fill="none" />
          <line x1="14" y1="14" x2="21" y2="21" stroke-width="3" stroke-linecap="round" />
        </svg>
      </a>
    </li>
    <li>
      <a title="Add Node" role="button">
        <svg height="20" width="20">
          <circle cx="10" cy="10" r="8" stroke-width="2" fill="none" />
          <line x1="7" y1="10" x2="13" y2="10" stroke-width="2" stroke-linecap="round" />
          <line x1="10" y1="7" x2="10" y2="13" stroke-width="2" stroke-linecap="round" />
        </svg>
      </a>
    </li>
    <li>
      <a title="Add Edge" role="button">
        <svg height="20" width="20">
          <circle cx="4" cy="16" r="2" />
          <circle cx="16" cy="4" r="2" />
          <line x1="7" y1="13" x2="13" y2="7" stroke-width="2" />
        </svg>
      </a>
    </li>
    <li>
      <a title="Freehand Mode" role="button">
        <svg height="28" width="28">
          <polygon points="2,26 8,24 26,6 22,2 4,20" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <polygon points="2,26 7,24 4,21" stroke="none" />
        </svg>
      </a>
    </li>
    <li>
      <a title="Eraser Mode" role="button">
        <svg height="26" width="28">
          <line x1="2" y1="24" x2="10" y2="24" stroke-width="2" stroke-linecap="round" />
          <polygon points="14,24 26,12 18,4 6,16" fill="none" stroke-width="2" stroke-linejoin="round" />
          <polygon points="19,19 26,12 18,4 11,11" stroke="none" />
        </svg>
      </a>
    </li>
  </ul>
</div>