<div id="wrapper">
    <h2>Test</h2>

    <style>
    #fake-input{
    	width: 100%;
    	color: white;
    }
    #fake-input .header{
    	border-bottom: 1px solid #777;
    }
    #fake-input td{
    	padding: 10px;
    }
    #fake-input input{
    	width: 200px;
    }
    </style>

    <table id="fake-input">
    <tr class="header"><td>Input</td><td>Expected Result</td><td>Actual Result</td></tr>
    <tr><td><input type="text" value="001001"/></td><td><input type="checkbox" checked></td><td><input type="checkbox" checked></td></tr>
    <tr style="background: #aa4444"><td><input type="text" value="001010"/></td><td><input type="checkbox" checked></td><td><input type="checkbox"></td></tr>
    <tr><td><input type="text" value="101010101"/></td><td><input type="checkbox"></td><td><input type="checkbox"></td></tr>
    <tr><td><input type="text" value="100100011"/></td><td><input type="checkbox" checked></td><td><input type="checkbox" checked></td></tr>
    </table>
</div>