#wrapper {
  background-color: #272727;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  height: 2.5em;
  width: 100%;
}

img {
  width: 100%;
  height: 1.5em;

  filter: brightness(75%);

  padding: .5em 0;
}

img:hover, img.active {
  filter: brightness(100%);
}

img.active {
  background-image: url("./caret-left.svg");
  background-position: 140%;
  background-position-y: center;
  background-repeat: no-repeat;
}

img:hover {
  cursor: pointer;
}