<div id="container" class="flex-container-row">
    <div id="side-bar">
        <div *ngFor="let list of availablePlugins">
            <sinap-collapsible-list [items]="list.plugins" [text]="list.title" selectedIndexChanged="newSelection($event)"></sinap-collapsible-list>
        </div>
    </div>
    <div id="content" class="flex-container-column">
        <div id="description">
            <h1>Finite Automaton</h1>
            <hr>
            <h4>Description</h4>
            <p>A graph that simulates a finite state machine where each node is the state of the machine and each edge is some transition between states.</p>
        </div>
        <div id="filename" class="flex-container-row">
            <div id="text-input">
                <input type="text" [(ngModel)]="filename" placeholder="File Name" autofocus (keyup.enter)="createNewFile(filename)">
            </div>
            <div id="submit-input">
                <button (click)="createNewFile(filename)" [disabled]="!filename">Ok</button>                
            </div>
            <div id="cancel-input">
                <button (click)="cancel()">Cancel</button>                
            </div>
        </div>
    </div>
</div>