#wrapper {
    color: white;
    text-align: left;
    font-family: sans-serif;
}

#empty {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin-top: -2em;
    align-items: center;
}

#empty p {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: larger;
}

table {
    width: 100%;
    table-layout: fixed;
    font-size: small;
}

tr {
    width: 100%;
    height: 1.5em;
}

th {
    background-color: #686868;
    padding-left: .75em;
    height: 1.5em;
}

th, td {
    vertical-align: middle;
}

input {
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}

.label {
    padding-left: .75em;
    vertical-align: middle;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
}

.color-input {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

select {
    width: 100%;
}

.color-label, .node-label {
    cursor: pointer;
    vertical-align: middle;
    color: black;
    font-size: 11px;
    background-color: white;
    border: 2px grey solid;
    border-style: inset;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    display: inline-block;
    padding: 2px 1px;
    width: 100%;
    height: 100%;
}

.color-preview {
    width: .85em;
    height: .85em;
    display: inline-block;
}

.tuple-input {
    display: inline-block;
    width: 48%;
}