#repl {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: .75em;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: sans-serif;

    /* Make space for the title bar */
    padding-top: 35px;
    margin-top: -35px;
}

#repl-cl {
    height: 2em;
    flex:none;
}

#repl-cl input {
    font-size: 1em;
    width: 100%;
}

.repl-item {
    margin: 0.3em;
}

#repl-output {
    flex: auto;
    display: flex;

    font-size: 1em;
    overflow-y: auto;
    flex-direction: column-reverse;
}
